<manifest package="org.robolectric.default">
    <application>
        <activity android:name="androidx.activity.ComponentActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
